<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    <header id="site-banner">
        <img src="./images/aleph-no-background-web256x256.png" alt="An image of an abstract Hebrew Alef">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="articles/articles.html">Entries</a></li>
            </ul>
        </nav>
    </header>

    <section class="page-details">
        <h2 class="page-title">{{ title }}</h2>
        <p class="page-description">{{ description }}</p>
        <div class="page-meta">
            <div class="meta-section">
                {% for meta in page_meta if meta.label in ["Domain", "Division"] %}
                <div class="meta-item">
                    <span class="label">{{ meta.label }}:</span> {{ meta.value }}
                </div>
                {% endfor %}
            </div>
            <div class="meta-section">
                {% for meta in page_meta if meta.label in ["Modified", "Worked"] %}
                <div class="meta-item">
                    <span class="label">{{ meta.label }}:</span> {{ meta.value }}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <main>
        <aside class="toc">
            {% if toc %}

            <ul>
                {% for item in toc %}
                <li class="toc-item toc-level-{{ item.level }}">
                    <a href="#{{ item.anchor }}">{{ item.text }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

        </aside>

        {% for article in articles %}
        <article>
            <header>
                {{ article.header | safe }}
            </header>
            <section>
                {% for section in article.sections %}
                <p>{{ section | safe }}</p>
                {% endfor %}
            </section>
        </article>
        {% endfor %}
    </main>

    {% if footnotes %}
    <section class="footnotes">
        <h2>Footnotes</h2>
        <ol>
            {% for key, text in footnotes.items() %}
            <li id="footnote-{{ key }}">
                {{ text }}
                <a href="#ref-{{ key }}" class="footnote-backlink">↩</a>
            </li>
            {% endfor %}
        </ol>
    </section>
    {% endif %}


    {% if related_articles %}
    <section class="related-articles">
        <h2>Backlinks</h2>
        <ul>
            {% for backlink in backlinks %}
            <li><a href="/{{ backlink | replace(' ', '-') | lower }}.html">{{ backlink }}</a></li>
            {% endfor %}
        </ul>

        <h2>Related Articles</h2>
        <ul>
            {% for article in related_articles %}
            <li><a href="{{ article['url'] }}">{{ article['title'] }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if external_links %}
    <section class="external-links">
        <h2>External References</h2>
        <ul>
            {% for link in external_links %}
            <li><a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.text }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    <footer>
        <p>&copy; 2025 Aleph.</p>
    </footer>
</body>

</html>