<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <header id="site-banner">
        <img src="../images/aleph-no-background-web256x256.png" alt="An abstract Hebrew Alef">
        <nav>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/articles/articles.html">Articles</a></li>
            </ul>
        </nav>
    </header>

    <section class="page-details">
        <h1 class="page-title">{{ title }}</h1>
        <p class="page-description">{{ description }}</p>
    </section>

    <main>
        <section class="articles-list">
            {% if categorized_articles %}
            {% for domain, articles in categorized_articles.items() %}
            <h2 class="category-title">{{ domain }}</h2>
            <div class="article-columns">
                {% for article in articles %}
                <div class="article-entry">
                    <a href="{{ article.url }}" class="article-title">{{ article.title }}</a>
                    <div class="article-meta">
                        <p><strong>Updated:</strong> {{ article.last_modified }}</p>
                        <p><strong>Division:</strong> {{ article.division | join(', ') }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            {% else %}
            <p>No articles found.</p>
            {% endif %}
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Aleph.</p>
    </footer>
</body>

</html>