__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
debug.log
env/
venv/
.venv/
.vscode/
.DS_Store
Thumbs.db
public/
ordinal/snapshots/
dist/
build/
*.tmp
*.bak
*.swp
*.sw~
*.swo
*~
public/styles/main.css
public/styles/main.css.map
main.log
ordinal/ordinal/snapshots/*