__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
debug.log
env/
venv/
.venv/
.vscode/
.DS_Store
Thumbs.db
ordinal/snapshots/*
dist/
build/
*.tmp
*.bak
*.swp
*.sw~
*.swo
*~
main.log
ordinal/ordinal/snapshots/*